---
---

@import "{{ site.theme }}";

.img-circle {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

#main_content_wrap {
    background: #E5E9EC;
}

#header_wrap {
    background: #7C4C5F;
}

#footer_wrap {
    background: #7C4C5F;
}

a {
    color: #5D68B7;
}

h1, h2, h3, h4, h5, body {
    color: #512035;
}

#forkme_banner {
    background: url('../images/blacktocat.png') #8D91C7 no-repeat 95% 50%;
}
