---
---

@import "{{ site.theme }}";

.img-circle {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

#main_content_wrap {
    background: #E5E9EC;
}

#header_wrap {
    background: #7C616C;
}

#footer_wrap {
    background: #DDCAD9;
}
